*, *::after, *::before{
    box-sizing: border-box;
}
body{
    max-width: 1300px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.column{
    flex-direction: column;
}
header{
    background-color: darkorange;
    padding: 0 2rem;
    color: white;
}
h1{
    font-size: 24px;
    font-weight: 400;
}
form{
    margin: 3rem auto;
    width: 500px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
}
form legend{
    width: 500px;
    position: absolute;
    margin-top: -1.2rem;
    left: 31.3%;
    background-color: darkorange;
    padding: 0.5rem;
    font-size: 21px;
    color: white;
}
.options{
    text-align: left;
    margin: 4rem 0 2rem 0;
}
.options label{
    margin: 0.3rem;
    font-size: 18px;
}
form button{
    margin-bottom: 1rem;
    font-size: 18px;
}
.form-control{
    width: 100%;
    margin: 1rem 0 2rem 0;
}
.btns{
    width: 500px;
    margin: 0 auto;
}
.btn{
    background-color: darkorange;
    padding: 0.5rem 1rem;
    color: white;
}